{{ salt['pillar.get']('mysql.server.enabled', 'False') }}
{{ salt['pillar.get']('mysql.client.enabled', 'False') }}
{{ salt['pillar.get']('mysql.apache.enabled', 'False') }}
{{ salt['pillar.get']('mysql.python.enabled', 'False') }}

